<link rel="stylesheet" href="/styles/footer.css" />

<footer class="foot">
  <!-- <h3 class="heading">share an event</h3> -->
  <hr />
  <div class="yc">
    <div class="youracc">
      <h3>Your Account</h3>
      <ul>
        <li><a href="/signup">Sign up</a></li>
        <li><a href="/login">Log in</a></li>
        <%console.log(user)%>
        <li><a href="/userprofile/<%=user._id %>">Profile</a></li>
      </ul>
    </div>

    <div class="youracc">
      <h3>Discover</h3>
      <ul>
        <li><a href="/events">Events</a></li>
        <li><a href="/eventsharing">Share events</a></li>
      </ul>
    </div>
    <div class="youracc">
      <h3>Website</h3>
      <ul>
        <li><a href="/aboutus">About us</a></li>
        <li><a href="/newTeam">Our Team</a></li>
        <li><a href="/contactus">Contact Us</a></li>
      </ul>
    </div>
  </div>
</footer>
