<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="/styles/aboutus.css" />
    <link rel="stylesheet" href="/styles/footer.css" />
    <link rel="stylesheet" href="/styles/navbar.css" />

    <title>About Us</title>
  </head>

  <body>
    <%- include('../partials/nav.ejs') %>

    <div class="section">
      <div class="container">
        <div class="content-section">
          <div class="title">
            <h1>About Us</h1>
          </div>
          <div class="contents">
            <h2>Event Organiser platform</h2>
            <p>
              This is a map based event sharing platform on a website. Here you
              can share the events planned or to be planned in the map by
              sharing the event location by pinning the location.Here you can
              also chat with your friends. This is the platform which you can
              interact and connect with lot of users. There is a membership
              plans for the users.Build your community Easy hosting tools Host
              safe events We’ll help you grow Connect with other people who are
              curious about the things you love. Chat with members and manage
              your attendance. Easy-to-use features for indicating whether
              events will be outdoors, have mask or vaccination requirements, &
              more. Our platform will keep promoting your group throughout its
              network to get more people interested.
            </p>

            <div class="button">
              <a href="">Share event</a>
            </div>
            <div class="social">
              <a href=""><i class="fab fa-facebook-f"></i></a>
              <a href=""><i class="fab fa-twitter"></i></a>
              <a href=""><i class="fab fa-instagram"></i></a>
            </div>
          </div>
        </div>
        <div class="image-section">
          <img src="/assets/WAB-January-Designs-8.png" />
        </div>
        <br />
      </div>
      <div class="features">
        <h1>Features this platform supports.</h1>
        <!-- simple as sharing posts on social media. -->
        <div class="f">
          <div class="feat">
            <img
              src="/assets/Screenshot 2022-03-13 194132.png"
              alt=" share event location"
            />
            <div class="cont">
              <h2>Share event location</h2>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Expedita eligendi fuga incidunt ad voluptatum reprehenderit
                optio impedit vel, quisquam laborum tempore? Possimus, eligendi?
                Inventore laboriosam, et reprehenderit voluptatem facere
                assumenda.
              </p>
            </div>
            <a href="#">select location to share</a>
          </div>
          <div class="feat">
            <img
              src="/assets/istockphoto-1146015847-170667a.jpg"
              alt="explore city"
            />
            <div class="cont">
              <h2>Explore locations in city</h2>
              <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eum
                cupiditate quisquam dolorem natus commodi, beatae fuga nam a
                quam qui dolores omnis id numquam sint nesciunt et laboriosam
                suscipit amet?
              </p>
            </div>
            <a href="#">explore city</a>
          </div>
          <div class="feat">
            <img src="/assets/chatbox.webp" alt="built in chat box" />
            <div class="cont">
              <h2>Built in chat box</h2>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Voluptatibus expedita quis debitis non quidem harum corporis,
                laboriosam, in voluptate assumenda voluptatem fugit incidunt
                officiis at minima sequi, nobis asperiores molestiae.
              </p>
            </div>
            <a href="#">message frnds</a>
          </div>
          <div class="feat">
            <img src="/assets/live.jpg" alt="live streaming" />
            <div class="cont">
              <h2>Live streaming</h2>
              <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Non
                esse soluta eius eum eos deleniti sit nemo provident dolorem
                deserunt saepe similique rem commodi natus odit, praesentium,
                accusamus tenetur eveniet.
              </p>
            </div>
            <a href="#">go live</a>
          </div>
        </div>
      </div>
      <br />
    </div>
    <%- include('../partials/footer.ejs') %>
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
