<!DOCTYPE html>
<html lang="en">
<head>
     <%- include("../partials/head") %>
    <link rel="stylesheet" href="/styles/adminportal.css">
    <link rel="stylesheet" href="/styles/footer.css">
    <link rel="stylesheet" href="styles/navbar.css">
    <script type="module" src="/js/adminportal.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Admin portal</title>
</head>
<body>
  <%- include('../partials/nav.ejs') %>
    <div class="mainbox">
        <div class="subbox1">

            <button class="buttons" id = "searchanevent">Active Users</button>
            <button class="buttons" id = "deleteevent">Delete event</button>
            <button class="buttons" id = "searchauser">Search a user</button>
            <button class="buttons" id = "deleteuser">Delete user</button>
            <button class="buttons" id = "addanadmin">Add an admin</button>
            
        </div>
        <div class="subbox2">
            <div class="card" id = "card1">
                <p class="heading">List of all active users</p>
                <div class="div_table">

                  <table class="table main_table">
                    <thead class="thead-dark">
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Username</th>
                        <th scope="col">Email</th>
                        <th scope="col">Hobbies</th>
                      </tr>
                    </thead>
                    <tbody id="tbody">
                      
                      
                      
                  </tbody>
                </table>
              </div>
                
                
              </div>
              
              <div class="card" id = "card2">
                <p class="heading" style="padding-top: 30px;">Delete event</p>
                <p class="texts">
                  Give the details of an event to delete the event that you have searched for. Feel free to search via location if that information is available to you. 
                </p>
                <form action="#" class="form">
                    <input
                      class="details"
                      type="text"
                      name="EventName"
                      id="eventname"
                      placeholder="Delete via event name"
                    />
                    <button type="submit" class="submit" id="delEventBtn">Search</button>
                    
                  </form>
                </p>
            </div>
            <div class="card" id = "card3">
                <p class="heading">Search a user</p>
                <p class="texts">
                    Provide username of any user to get details of that user. These details could be used to flag that user for potential account deletion.
                </p>
                <form action="#" class="form">
                    <input
                      class="details"
                      type="text"
                      name="EventLocation"
                      id="searchUsername"
                      placeholder="Search a user via username"
                    />       
                    <button type="submit" class="submit" id="searchUser">Search</button>
                  </form>
            </div>
            <div class="card" id = "card4">
                <p class="heading">Delete user</p>
                <p class="texts">
                    Give the username of the user you want to delete. Please verify that you are following the guidelines before deleting a user to avoid legal troubles.
                </p>
                <form action="#" class="form">
                    <input
                      class="details"
                      type="text"
                      name="EventName"
                      id="username"
                      placeholder="Enter a username"
                    />
                    <button type="submit" class="submit" id="deleteUser">Delete</button>
                    
                  </form>
            </div>

            <div class="card" id = "card5">
              <p class="heading">Add an admin</p>
              <p class="texts" >
                  Add an exsting user as an admin. Only admins get access to the admin protal. No normal user can access this page. provide an username to make that account an admin.
              </p>
              <form action="#" class="form">
                  <input
                    class="details"
                    type="text"
                    name="EventName"
                    id="adminName"
                    placeholder="Enter a username"
                  />
                  <button type="submit" class="submit" id="addAdminBtn">Add</button>
                  
                </form>
          </div>
        </div>

    </div>
  <%- include('../partials/footer.ejs') %>
</body>
</html>