<!DOCTYPE html>
<html>

<head>
  <%- include('../partials/head'); %>
  <link rel="stylesheet" href="/styles/home.css" />
</head>

<body>
  <div class="container">
    <h1 class="mb-5">Make real connections in the world</h1>
    <p>
      Whatever you’re looking to do this year, Meetup can help. For 20 years,
      people have turned to Meetup to meet people, make friends, find support,
      grow a business, and explore their interests. Thousands of events are
      happening every day—join the fun.
    </p>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-12 ">
        <div class="row">
          <img src="https://secure.meetupstatic.com/next/images/indexPage/category1.webp?w=3840" decoding="async"
            class="img-container" />
        </div>
        <div class="row">Explore the outdoors</div>
      </div>
      <div class="col-lg-4 col-md-12 d-flex justify-content-center flex-column align-items-center">
        <div class="row">
          <img src="https://secure.meetupstatic.com/next/images/indexPage/category1.webp?w=3840" decoding="async"
            class="img-container" />
        </div>
        <div class="row">Explore the outdoors</div>
      </div>
      <div class="col-lg-4 col-md-12 d-flex justify-content-center flex-column align-items-center">
        <div class="row">
          <img src="https://secure.meetupstatic.com/next/images/indexPage/category2.webp?w=3840" decoding="async"
            class="img-container" />
        </div>
        <div class="row ">Connect to tech</div>
      </div>
    </div>
    <div class="sec-container">
      How Mapty works
      <div>
        Meet new people who share your interests through online and in-person
        events. It’s free to create an account.
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-4 ">
          <h2>Join a Group</h2>
          <p>
            Do what you love, meet others who love it, find your community.
            The rest is history!
          </p>
        </div>
        <div class="col-sm-12 col-md-4">
          <h2>Find A event</h2>
          <p>
            Events are happening on just about any topic you can think of,
            from online gaming and photography to yoga and hiking.
          </p>
        </div>
        <div class="col-sm-12 col-md-4">
          <h2>Start a group</h2>
          <p>
            You don’t have to be an expert to gather people together and
            explore shared interests.
          </p>
        </div>
      </div>
      <div class="btn-join text-center">
        <button type="button" class="btn btn-primary">Join Mapty</button>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-sm-12">
          <form>
            <div class="row">
              <div class="form-group col-lg-6 col-sm-12">
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">

              </div>
              <div class="form-group col-lg-6 col-sm-12">

                <input type="password" class="form-control" id="exampleInputPassword1">
              </div>
            </div>
            <div class="row">
              <button type="submit" class="btn btn-primary col-lg-12">Search</button>
            </div>
          </form>
        </div>
        <div class=""col-lg-6 col-sm-12>
          <h2>See what's happening today</h2>
          
        </div>
      </div>

    </div>
</body>

</html>