<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head") %>
    <link rel="stylesheet" href="/styles/login.css" />
    <title>Login</title>
  </head>

  <body>
    <%- include('../partials/nav.ejs') %>
    <div class="page">
      <div class="container">
        <h1 style="text-align: center; color: white">Login to your account</h1>
        <h3
          style="
            font-size: 18px;
            text-align: center;
            opacity: 0.4;
            color: white;
          "
        >
          Make sure to share our platform with your friends!
        </h3>
        <div class="box">
          <div class="image">
            <img
              src="https://img.freepik.com/free-vector/navigation-map-street-3d-location-pin-locator-pins-pointer-navigator-maps-locations-marker_102902-1053.jpg?size=626&ext=jpg&ga=GA1.1.1097707927.1648489757"
              class="images"
              alt=""
            />
          </div>
          <div class="box1">
            <form action="#" class="form" id="form-user--data">
              <input
                class="details"
                type="email"
                name="username"
                id="email"
                placeholder="Enter your email"
              />
              <input
                class="details"
                type="password"
                name="password"
                id="password"
                placeholder="Enter your password"
              />
              <button type="submit" class="login-btn">Login</button>
            </form>
          </div>
          <div class="box2">
            <div class="other_buttons">
              <a href="/signup" class="login_button " id="login-btn">
                <button type="button" class="buttoned" >
                  Create Account
                </button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="/js/login.js" type="module"></script>
  </body>
</html>
