<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
    <link rel="stylesheet" href="/styles/signup.css" />

    
    <title>Login</title>
    
  </head>

  <body>
    <div class="page">
      <div class="container">
        <h1 class="heading" >Create your account</h1>
        <h3 style="font-size: 18px; text-align: center; opacity: 0.4">
          Your first step into the future!
        </h3>
        <div class="card1">
          <div class="imaged">
            <img style="width: 100%; height: 100%; object-fit: cover; border-radius: 15px 0 0 15px;" src="/assets/signup1.jpg" alt="">
          </div>
          <div class="box" id="mainbox">
            <h3 class="texts" style="padding-bottom: 15px;">Fill out some details</h3>
            <form action="#" class="form1" id="form-user--data">
              <input
              class="details"
              type="text"
              name="username"
              id="name"
              placeholder="Username"
              />
              <input
                class="details"
                type="text"
                name="email"
                id="email"
                placeholder="Email"
              />
              <input
                class="details"
                type="password"
                name="password"
                id="password"
                minlength="8"
                placeholder="Password"
              />
              <input
                class="details"
                type="password"
                name="confirm_password"
                id="confirm_password"
                placeholder="Confirm password"
              />
              <button type="button" class="login-btn" id="next">Next</button>
              <div style=" padding-top:20px;">Already have a account ? <a href="/login" style="text-decoration:none; color:orange;">Sign in</a></div>
            </form>
                   
          </div>
          <div class="alt-box" id="altbox">
            <h2 style="text-align: center;" class="texts">Select a few hobbies of yours!</h2>
            <div class="boxes">
              <button class="options">Games</button>
              <button class="options">coding meetups</button>
              <button class="options">Mixers</button>
              <button class="options">political gatherings</button>
              <button class="options">Major events</button>
              <button class="options">Educational</button>
              <button class="options">Friend meetups</button>
              <button class="options">Travelling</button>
              <button class="options">Random meetups</button>
              <button class="options">Hangouts</button>
              <div class="end-buttons">

                <button type="submit" class="alt-button" id="back">Back</button>
                <button type="submit" class="alt-button" id = "signup-btn">Sign up</button>
              </div>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
    <script src="/js/signup.js" type="module"></script>
  </body>
</html>
