<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/user.css">
    
</head>

<body id="body">

    <%- include('../partials/nav.ejs') %>
    <div class="container">
        <div class="user">
            <h2>User profile</h2>
            <ul>
                <li><a href="#userid" id="useridlink" > user id</a></li>
                <li><a href="#personal">personal information</a></li>
                <li><a href="#account-signin">account sign in</a></li>
                <li><a href="#connect">personal events</a></li>
                <li><a href="#attended events">attended events</a></li>
                <li><a href="#hobbies">hobbies</a></li>
                <li><a href="#authentication">two factor authentication</a></li>
            </ul>
        </div>
        <div class="mainbox">
            <div class="card" id="userid">
                <div class="subbox1">
                    <h4>User id </h4>
                    <p>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo quas fugiat et sequi ducimus
                        eveniet dolorum deserunt suscipit, culpa molestias!
                    </p>
                </div>
                <div class="subbox2">
                    <div class="name">user name </div>
                    <button>edit profile</button>
                </div>
            </div>

            <div class="card" id="personal">
                <div class="subbox1">
                    <h4>pesonal information </h4>
                    <p>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo quas fugiat et sequi ducimus
                        eveniet dolorum deserunt suscipit, culpa molestias!
                    </p>
                </div>
                <div class="subbox2">
                    <div class="email">email adress</div>
                    <div class="per">
                        <div class="country">place</div>
                        <div class="pin">pincode</div>
                        <div class="dob">dob</div>
                    </div>
                    <button class="change">edit details</button>
                </div>
            </div>

            <div class="card" id="account-signin">
                <div class="subbox1">
                    <h4>account sign-in </h4>
                    <p>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo quas fugiat et sequi ducimus
                        eveniet dolorum deserunt suscipit, culpa molestias!
                    </p>
                </div>
                <div class="subbox2">
                   <p>change password</p>
                    <form action="#">
                        <input type="password" placeholder="Your Current Password">
                        <input type="password" placeholder="Enter New Password">
                        <input type="password" placeholder="Confirm New Password">
                        
                    </form>
                    <button>save changes</button>
                </div>
            </div>

            <div class="card" id="connect">
                <div class="subbox1">
                    <h4>personal events</h4>
                    <p>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo quas fugiat et sequi ducimus
                        eveniet dolorum deserunt suscipit, culpa molestias!
                    </p>
                </div>
                <div class="subbox2"></div>
            </div>

            <div class="card" id="attended events">
                <div class="subbox1">
                    <h4>attended events</h4>
                    <p>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo quas fugiat et sequi ducimus
                        eveniet dolorum deserunt suscipit, culpa molestias!
                    </p>
                </div>
                <div class="subbox2"></div>
            </div>
            <div class="card" id="hobbies">
                <div class="subbox1">
                    <h4>hobbies</h4>
                    <p>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo quas fugiat et sequi ducimus
                        eveniet dolorum deserunt suscipit, culpa molestias!
                    </p>
                </div>
                <div class="subbox2"></div>
            </div>

            <div class="card" id="authentication">
                <div class="subbox1">
                    <h4>
                        authentication
                    </h4>
                    <p>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo quas fugiat et sequi ducimus
                        eveniet dolorum deserunt suscipit, culpa molestias!
                    </p>
                </div>
                <div class="subbox2"></div>
            </div>



        </div>
    </div>
</body>

<script>
    let userid = document.getElementById("useridlink");
    userid.addEventListener('click', ()=>{
        let body = document.getElementById('body');
        body.animate({
            scrollTop: document.getElementById('userid').offset().top
        }, 'slow');
    })
</script>

</html>