@import url("./navbar.css");


body{
    color: #cccbcb;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg %3E%3Ccircle fill='%234D4D4D' cx='50' cy='0' r='50'/%3E%3Cg fill='%23494949' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%23454545' cx='50' cy='100' r='50'/%3E%3Cg fill='%23424242' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%233e3e3e' cx='50' cy='200' r='50'/%3E%3Cg fill='%233a3a3a' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%23373737' cx='50' cy='300' r='50'/%3E%3Cg fill='%23333333' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%23303030' cx='50' cy='400' r='50'/%3E%3Cg fill='%232c2c2c' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%23292929' cx='50' cy='500' r='50'/%3E%3Cg fill='%23252525' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%23222222' cx='50' cy='600' r='50'/%3E%3Cg fill='%231e1e1e' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%231b1b1b' cx='50' cy='700' r='50'/%3E%3Cg fill='%23181818' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%23151515' cx='50' cy='800' r='50'/%3E%3Cg fill='%23111111' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%230c0c0c' cx='50' cy='900' r='50'/%3E%3Cg fill='%23060606' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%23000000' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: contain;
}


.container{
   width:90%;
   height: 100%;
   /* border:1px solid rgb(252, 252, 252); */
   display:flex;
   flex-direction: row;
   /* height:130vh; */
   /* margin:auto; */
}

h1{
    border:1px solid rgb(252, 251, 251);
    margin:50px 15%;
    width:70%;
    font-size:50px;
    text-align:center;
    text-transform: uppercase;
}

.cont{
    width:50%;
    height: 100%;
    border:1px solid rgb(253, 251, 251);
    margin-left:9%;
}

img{
    height:400px;
    width:400px;
    margin:8% 31%;
    border-radius: 5px;
}

.image{
    width:50%;
}

.image1 img{
    width:80%;
    height:100%;
    margin:0;
}
.text{
    border:1px solid rgb(248, 245, 245);
    display:flex;
    flex-direction:column;
    height: 50%;
    width: 100%;
}
.text h2{
    font-size: 40px;
    padding-left:5%;
    margin-bottom:2%;
    
}
.text p{
    font-size: 20px;
    padding:5%;
    margin-top:2%;
    line-height:20px;
}

.btn{
    display:flex;
    flex-direction:column;
    justify-content: center;
}
.btn li{
    list-style: none;
}

.btn li a{
    text-decoration: none;
   color:white;
   text-transform:capitalize;
}

.btn ul li{
    display:inline-block;
    width:40%;
    font-size: 20px;
    text-align:center;
}

.btn li::before{
    content: "\2192";
    margin-right: 8px;
}

.btn li a:hover{
    color:rgb(180, 178, 178);
    padding-left: .5rem;
    transition-timing-function: ease-in-out;
    transition-duration:.3s;
}

.icon_button{
    width: 80%;
    height: 50px;
    
    margin: auto;
    /* border: 2px solid blue; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: auto;
  }
  
.join{
    border: none;
    background-color: gray;
    color: white;
    font-weight: 500;
    height: 80%;
    width: 30%;
  }

  .icon{
      height: 100%;
      
      background: transparent;
      border: none;
      outline: none;
      color: gray;
  }

  .btn i:hover{
      cursor: pointer;
  }



@media screen and (max-width:950px){
    .img{
      display:none;
    }

    .cont{
        width:100%;
    }
    img{
        height:250px;
        width:250px;
        margin:7%;
        border-radius: 5px;
    }
    .image1 img{
        display: none;
     }
}
    @media screen and (max-width:780px){
        .btn ul li{
            display:block;
            width:100%;
            font-size: 15px;
            margin:2%;
            text-align:center;
        }
        .container{
            width:90%;
            display:flex;
            flex-direction: row;
            margin:5% 5%;
         }
         .text{
            border:1px solid rgb(248, 245, 245);
            display:flex;
            flex-direction:column;
        }
         .text h2{
            font-size: 20px;
            padding-left:5%;
            margin-bottom:5%;
        }

        .text p{
            font-size: 15px;
            padding:5%;
            margin-top:5%;
            word-wrap: break-word;
        }

        img{
            height:200px;
            width:200px;
            margin:33%;
            border-radius: 5px;
        }
}