.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.map-container {
  height: 90vh;
}

.aside-container {
  
}

.first-row {
  /* background-color: rgb(195, 199, 202); */
}

.second-row {
}
