@import url("./navbar.css");
@import url("./alert.css");

body {
  color: white;

  background-color: #303030;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 2 1'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='1'%3E%3Cstop offset='0' stop-color='%23303030'/%3E%3Cstop offset='1' stop-color='%23303030'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='0' y1='0' x2='0' y2='1'%3E%3Cstop offset='0' stop-color='%23373737' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23373737' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='c' gradientUnits='userSpaceOnUse' x1='0' y1='0' x2='2' y2='2'%3E%3Cstop offset='0' stop-color='%23373737' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23373737' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='2' height='1'/%3E%3Cg fill-opacity='0.5'%3E%3Cpolygon fill='url(%23b)' points='0 1 0 0 2 0'/%3E%3Cpolygon fill='url(%23c)' points='2 1 2 0 0 0'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}

.page {
  width: 100vw;
  height: 100vh;
  display: flex;
  /* border: 2px solid white; */
}

.container {
  display: flex;
  flex-direction: column;
  width: 75%;
  height: 69%;
  align-self: center;
  justify-content: center;
  align-items: center;
  /* border: 2px solid white; */
}

.box {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /* align-items: center; */
  width: 85%;
  /* justify-items: flex-start; */
  border: 2px solid lightblue;
  border-radius: 5px;
  height: 35rem;
}

.box1 {
  width: 45%;
  height: 60%;
  /* border: 2px solid white; */

  display: flex;
  /* justify-items: flex-start; */
  justify-content: center;
  align-items: flex-start;
  padding-top: 50px;
}

.box2 {
  width: 45%;
  height: 40%;
  /* border: 2px solid white; */
  display: flex;
  justify-content: center;
  /* align-self: flex-start; */

  /* border: 2px solid white; */
}

.image {
  width: 55%;
  height: 100%;
  /* border: 2px solid wheat; */
}

.images {
  height: 100%;
  width: 100%;
  /* border: 2px solid wheat; */
}

.form {
  display: flex;
  /* border: 2px solid gold; */
  flex-direction: column;
  height: 80%;
  width: 80%;
  justify-content: space-evenly;
  align-items: center;
}

.details {
  width: 80%;
  height: 20%;
  background-color: rgb(15, 15, 15);
  padding-left: 3%;
  margin-bottom: 20px;
  border-radius: 5px;
  opacity: 0.8;
  border: none;
  color: white;
}

.login-btn {
  width: 80%;
  height: 17.5%;
  border-radius: 5px;
  border: none;
  color: white;
  font-weight: 400;
  background: linear-gradient(135deg, yellow, red);
}

.other_buttons {
  height: 60%;
  width: 90%;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-weight: 300px
;
  justify-content: center;
  align-items: center;
}

.buttoned{
  color: white;
  background:none;
  border: none;
  padding-top: 7px;
}

.login_button {
  width: 80%;
  height: 34%;
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;
  color: rgb(255, 255, 255);
  
  background-color: rgb(0, 0, 0);
}

.login_button:hover {
  background-color: rgb(97, 97, 97);
  transition: 0.4s ease;
  color: black;
  font-weight: 600;
}

.login-btn:hover {
  transform: scale(1.03);
}

@media (max-width: 750px) {
  h1 {
    font-size: 24px;
  }

  .image {
    display: none;
  }

  h3 {
    font-size: 16px;
  }

  .container {
    width: 100%;
    height: 50%;
  }

  .box {
    flex-direction: column;
    height: 15rem;
    border: none;
  }

  .box1 {
    padding-top: 0px;
    width: 100%;
    height: 60%;
    justify-content: center;
    align-items: flex-start;
    /* border: 2px solid white; */
  }

  .form {
    height: 110%;
    justify-content: center;
  }

  .box2 {
    width: 100%;
    align-items: flex-start;
    padding-top: 5%;
    height: 40%;
    justify-content: center;
    /* align-items: center; */
    /* border: 2px solid white; */
  }

  .details {
    font-size: 12px;
    height: 200%;
  }

  .other_buttons {
    width: 80%;
    height: 150%;
    justify-content: space-around;
  }

  .login-btn{
    height: 150%;
  }
}
