@import url("./alert.css");
@import url("./navbar.css");


body {
  color: white;
 
  background-color: #4d4d4d;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg %3E%3Ccircle fill='%234D4D4D' cx='50' cy='0' r='50'/%3E%3Cg fill='%23494949' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%23454545' cx='50' cy='100' r='50'/%3E%3Cg fill='%23424242' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%233e3e3e' cx='50' cy='200' r='50'/%3E%3Cg fill='%233a3a3a' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%23373737' cx='50' cy='300' r='50'/%3E%3Cg fill='%23333333' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%23303030' cx='50' cy='400' r='50'/%3E%3Cg fill='%232c2c2c' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%23292929' cx='50' cy='500' r='50'/%3E%3Cg fill='%23252525' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%23222222' cx='50' cy='600' r='50'/%3E%3Cg fill='%231e1e1e' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%231b1b1b' cx='50' cy='700' r='50'/%3E%3Cg fill='%23181818' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%23151515' cx='50' cy='800' r='50'/%3E%3Cg fill='%23111111' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%230c0c0c' cx='50' cy='900' r='50'/%3E%3Cg fill='%23060606' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%23000000' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: contain;
}

.page {
  width: 100vw;
  height: 100vh;
  display: flex;
  /* border: 2px solid white; */
}

.container {
  width: 60%;
  /* display: flex; */
  height: 70%;
  align-self: center;
  justify-content: center;
  /* border: 2px solid blue; */
}

.box {
  width: 70%;
  height: 100%;
  /* border: 2px solid blue; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* padding-top: 50px; */
  /* display: none; */
}

.alt-box {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 70%;
  height: 100%;
  /* border: 2px solid white; */
  display: none;
}

.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  /* border: 2px solid white; */
  height: 70%;
  width: 100%;
}

.options {
  width: 40%;
  margin: 3px;
  margin-bottom: 6px;
  border-radius: 10px;
  border: none;
  color: black;
  font-weight: 400;
  background-color: white;
  height: 10%;
}

.end-buttons {
  display: flex;
  width: 100%;
  height: 25%;
  /* border: 2px solid wheat; */
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.alt-button {
  width: 60%;
  height: 40%;
  border-radius: 5px;
  border: none;
  color: white;
  font-weight: 400;
  background: linear-gradient(135deg, yellow, red);
}

.image {
  height: 100%;
  width: 45%;
  border-radius: 20px 0 0 20px;
}

.card1 {
  display: flex;
  border-radius: 20px;
  /* box-shadow: rgb(255, 255, 255) 5px 5px, rgba(255, 255, 255, 0.637) 10px 10px, rgba(255, 255, 255, 0.2) 15px 15px, rgba(255, 255, 255, 0.171) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px; */
  align-items: center;

  flex-direction: row;
  height: 100%;
  border: 2px solid gold;

  /* width: 80%; */
  /* padding-top: 40px; */
}

.form1 {
  display: flex;
  flex-direction: column;
  height: 50%;
  width: 70%;

  justify-content: space-evenly;
  align-items: center;
}

.details {
  width: 80%;
  height: 30%;
  padding-left: 3%;
  margin-bottom: 20px;
  border-radius: 5px;
  opacity: 0.8;
  border: none;
  color: black;
}

.login-btn {
  width: 80%;
  height: 30%;
  border-radius: 5px;
  border: none;
  color: white;
  font-weight: 400;
  background: linear-gradient(135deg, yellow, red);
}

.login-btn:hover {
  transform: scale(1.03);
}

.alt-button:hover {
  transform: scale(1.03);
}

.options:hover {
  background-color: lightblue;
}

.heading {
  text-align: center;
  font-size: 300%;
}

.texts {
  font-size: 200%;
}

@media (max-width: 900px) {
  h1 {
    font-size: 24px;
  }

  .end-buttons {
    height: 15%;
    width: 75%;
    flex-wrap: wrap;
    /* flex-direction: column; */
    justify-content: space-around;
    align-items: center;
    font-size: 80%;
  }

  .texts {
    font-size: 140%;
  }

  .heading {
    font-size: 200%;
  }

  h3 {
    font-size: 20px;
  }

  .boxes {
    height: 50%;
    /* border: 2px solid white; */
  }

  .container {
    width: 100%;
    height: 50%;
  }

  .image {
    display: none;
  }

  .box {
    width: 100%;
    height: 80%;
    justify-content: center;
    align-items: center;
  }

  .alt-box {
    width: 100%;
    height: 80%;
    justify-content: center;
    align-items: center;
  }

  .options {
    height: 15%;
    font-size: 80%;
    width: 40%;
  }

  .alt-button {
    width: 60%;
    height: 100%;
    margin: 10px;
  }

  .form1 {
    height: 80%;
  }

  .details {
    font-size: 12px;
    height: 25%;
  }
}
