@import url("./navbar.css");

body {
  color: white;
  background-color: #4d4d4d;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg %3E%3Ccircle fill='%234D4D4D' cx='50' cy='0' r='50'/%3E%3Cg fill='%23494949' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%23454545' cx='50' cy='100' r='50'/%3E%3Cg fill='%23424242' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%233e3e3e' cx='50' cy='200' r='50'/%3E%3Cg fill='%233a3a3a' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%23373737' cx='50' cy='300' r='50'/%3E%3Cg fill='%23333333' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%23303030' cx='50' cy='400' r='50'/%3E%3Cg fill='%232c2c2c' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%23292929' cx='50' cy='500' r='50'/%3E%3Cg fill='%23252525' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%23222222' cx='50' cy='600' r='50'/%3E%3Cg fill='%231e1e1e' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%231b1b1b' cx='50' cy='700' r='50'/%3E%3Cg fill='%23181818' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%23151515' cx='50' cy='800' r='50'/%3E%3Cg fill='%23111111' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%230c0c0c' cx='50' cy='900' r='50'/%3E%3Cg fill='%23060606' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%23000000' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: contain;
  /* scroll-behavior: smooth; */
}

.container {
  width: 100%;
  height: 300vh;
  display: flex;
}

.user {
  /* border:1px solid white; */
  width: 22%;
  height: 97vh;
  display: flex;
  flex-direction: column;
  position: fixed;
  margin: 0;
}
.user h2 {
  text-align: justify;
  /* border:1px solid white; */
  position: relative;
  top: 10%;
  padding-left: 40px;
  text-transform: capitalize;
}
.user ul {
  position: relative;
  top: 13%;
  left: 0;
}

.user li {
  list-style: none;
}

.user li a {
  text-decoration: none;
  font-size: 15px;
  color: white;
  line-height: 40px;
  text-transform: capitalize;
}

.user li::before {
  content: "\2192";
  margin-right: 8px;
}

.user li a:hover {
  color: rgb(180, 178, 178);
  padding-left: 0.5rem;
  transition-timing-function: ease-in-out;
  transition-duration: 0.3s;
}

.user li:hover {
  color: rgb(180, 178, 178);
}

.mainbox {
  margin-top: 55px;
  margin-left: 280px;
  display: flex;
  flex-direction: column;
  width: 100%;
  /* scroll-behavior: smooth; */
}

.card {
  color: white;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 10%;
  background-color: black;
  /* border: 1px solid white; */
  border-radius: 4px;
  margin-bottom: 20px;
}

.subbox1 {
  width: 45%;
  height: 100%;
  /* border: 1px solid white; */
  display: flex;
  flex-direction: column;
  background-color: rgb(39, 39, 39);
}

.subbox2 {
  width: 59%;
  height: 100%;
  /* border: 1px solid white; */
  background-color: rgb(68, 67, 67);
  display: flex;
  flex-direction: column;
}

.cont {
  border: 2px solid white;
  width: 30%;
}

.subbox1 h4 {
  /* border: 2px solid white; */
  text-align: justify;
  padding-left: 20px;
  margin-top: 20px;
  text-transform: capitalize;
}
.subbox1 p {
  /* border: 2px solid white; */
  padding-left: 20px;
  padding-right: 10px;
  font-size: 12px;
  word-spacing: none;
  line-height: 15px;
}

.subbox2 .name {
  /* border: 1px solid white; */
  width: 70%;
  height: 25%;
  margin: 11px;
  background-color: #3b3b3b;
  border-radius: 5px;
  color: aliceblue;
  text-transform: capitalize;
  text-align: justify;
  padding: 2% 3%;
  margin: 7%;
}

.subbox2 button {
  width: 35%;
  background-color: #3b3b3b;
  border-radius: 3px;
  border: none;
  margin-left: 55%;
  color: white;
  font-size: 10px;
}

.subbox2 .email {
  /* border: 1px solid white; */
  width: 85%;
  margin: 3% 5%;
  background-color: #3b3b3b;
  border-radius: 3px;
  height: 25%;
  padding: 2% 3%;
}
.per {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 60%;
}

.subbox2 .country,
.pin,
.dob {
  width: 30%;
  margin: 0 2%;
  background-color: #3b3b3b;
  border-radius: 3px;
  height: 40%;
  padding: 2% 3%;
  font-size: 10px;
}
.subbox2 .change {
  margin-left: 55%;
  margin-bottom: 5%;
}

.subbox2 p {
  padding-top: 2%;
  padding-left: 4%;
}

form {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-left: 4%;
}
form input {
  margin: 1%;
  background-color: #3b3b3b;
  border: none;
  font-size: 15px;
}

@media screen and (max-width: 990px) {
  .mainbox {
    margin-left: 230px;
    width: 100%;
  }
}
@media screen and (max-width: 800px) {
  .user {
    display: none;
  }

  .mainbox {
    margin: 0;
    margin-top: 55px;
    width: 100%;
  }
}
